## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
geometria_analitica.pdf

## Intermediate documents:
*.dvi
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.brf
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Auxiliary and intermediate files from other packages:

# algorithms
*.alg
*.loa

# achemso
acs-*.bib

# amsthm
*.thm

# beamer
*.nav
*.snm
*.vrb

#(e)ledmac/(e)ledpar
*.end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls

# hyperref
*.brf

# listings
*.lol

# makeidx
*.idx
*.ilg
*.ind
*.ist

# minitoc
*.maf
*.mtc
*.mtc0

# minted
*.pyg

# morewrites
*.mw

# nomencl
*.nlo

# sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

# sympy
*.sout
*.sympy
sympy-plots-for-*.tex/

# todonotes
*.tdo

# xindy
*.xdy

.DS_Store

imagens/Icon*

listas/Icon*

referencias
geometria_analitica.synctex(busy)
apresentacoes/01-aula_introdutoria/conceitos_basicos.pdf
novo-template/elegantbook-en-1.cpt
novo-template/elegantbook-en.pdf
apresentacoes/modulo-01/modulo-01.xdv
apresentacoes/modulo-01/modulo-01.pdf
apresentacoes/modulo-01/02-retas-no-plano.xdv
apresentacoes/modulo-01/02-retas-no-plano.pdf
apresentacoes/modulo-02/01-circunferencias-e-conicas.pdf
apresentacoes/modulo-02/01-circunferencias-e-conicas.xdv
apresentacoes/modulo-02/02-vetores-no-espaco.xdv
apresentacoes/modulo-02/02-vetores-no-espaco.pdf
apresentacoes/modulo-03/01-reta-e-plano-espaco.xdv
apresentacoes/modulo-03/01-reta-e-plano-espaco.pdf
apresentacoes/modulo-03/02-quadricas.pdf
apresentacoes/modulo-03/02-quadricas.xdv
apresentacoes/modulo-01/01-vetores-no-plano.pdf
apresentacoes/modulo-01/01-vetores-no-plano.xdv
listas/modulo-1/lista_1.pdf
listas/modulo-1/lista_1.xdv
listas/modulo-1/ans1.tex
